
.messageContainer{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:64vw;
    padding-right: 10px;
    
}

.messageBox{
    background-color: rgb(241, 237, 237);
    
    max-height: 70vh;
    max-width: 70vw;
     flex-shrink: 1; 
     flex-grow: 1;
    overflow-y: scroll;
   
}
.messageHeader{
    height:90px;
    padding:9px 5px;
    overflow-y: scroll;
}

.conMesImages{
    display:flex;
}

.conMesNames{
    display:flex;
}




.smallMessageBox{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   width:70%;
   padding:8px;
   margin:10px 5px;
  
  
}

.moveRight{
    align-items: flex-end !important;
    position:relative;
    left:28%;
}

.textmsg{
   font-size: 0.7em;
   margin:3px 2px;
   max-width: 60%;
   text-align: left;
   background-color: wheat;
   padding:5px 9px;
   border-radius: 5px;
   word-wrap: break-word;
}

.changebgtext{
    background-color: aquamarine !important;
}

.msgDetail{
    display:flex;
    width:auto;
    align-items: center;
    background: white;
    padding:0px 5px;
    border-radius: 20px;
    margin-left: 3px;
    margin-top: 3px;
}

.name{
   margin: 0;
   font-size: 0.7em;
}

.msgImage{
    display:flex;
    width:15px;
    height:15px;
    border-radius:50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.typingBox{
    height:60px;
    width:60vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:5px 3px;
    margin: 9px 0px;
}

.typingBox>textarea::placeholder{
   text-indent: 10px;
}